<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<header>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Golf Crony</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "Groups", groups_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    </ul>

  </section>
</nav>
</header>


    <div class="container">

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

      <%= yield %>
    </div>


    <%= javascript_include_tag "application" %>
  </body>
</html>
=======
<html>
<head>
  <title>Golfcrony</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
>>>>>>> 864b1e7cc0690091d45b9aa41f9d51d6f6ec4f80
